<h1> Your {{listName}} </h1>
<div ng-if='statusCode==1'>
    <div class="row">
        <div ng-repeat="product in list">
            <div class="col-lg-3">
                <ul class="demo-2 effect">
                    <h2 class="zero">{{product.products.model}}</h2>
                    <h3 class="zero">{{product.products.price}}</h3>
                    <p class="zero">{{product.products.category}}</p>
                    <a ui-sref="product({id : {{product.products.id}}})">
                        <li><img class="top" src='assets/images/{{product.products.image}}' alt={{product.products.model}}>
                        </li>
                    </a>

                </ul>
                <button ng-if='cartType!="buy"' ng-click='buy(product.products.id)'>Buy</button>
                <button ng-if='cartType!="buy"' ng-click='remove(product.products.id)'>Remove</button>
            </div>

        </div>
    </div>
</div>

<div ng-if='statusCode==0'>
    <div class="jumbotron text-center">
        <h1> You have no items on this list.</h1>
    </div>
</div>

<div ng-if='statusCode==2'>
    <div class="jumbotron text-center">
        <h1> Sorry! Under Maintenance! </h1>
    </div>
</div>

<div ng-if='statusCode==3'>
    <div class="jumbotron text-center">
        <h1> Sign in to view your list! </h1>
    </div>
</div>