<div ng-repeat="filteritems in filtertypes">
    <h3>{{filteritems.id}}</h3>
    <div ng-repeat="filteritem in filteritems.array">
        <input type="checkbox" ng-model="checkb" ng-change="view(checkb,filteritems.id,filteritem)"> {{filteritem}}
    </div>
</div>