<div class="row">
    <div ng-repeat="products in category">
        <h3>{{products.type}} - {{products.category}} </h3>
        <div ng-repeat="product in products.pdt">
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3">
                <ul class="demo-2 effect">
                    <h2 class="zero">{{product.model}}</h2>
                    <h3 class="zero">{{product.price}}</h3>
                    <p class="zero">{{product.category}}</p>
                    <a ui-sref="product({id : {{product.id}}})">
                        <li><img class="top" src='assets/images/{{product.image}}' alt={{product.model}}>
                        </li>
                    </a>
                </ul>
                <button ng-if='ifSession=="true"' ng-click='buy(product.id)'>Buy</button>
            </div>
        </div>
    </div>
</div>