<h1 ng-if='statusCode==0'> You have no items on this list. </h1>
<h1 ng-if='statusCode==2'> Sorry! Under Maintenance! </h1>
<h1 ng-if='statusCode==3'> Sign in to view your list! </h1>
<div ng-if='statusCode==1'>
    <h1> All Messages </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <!-- <th>Thread Number</th> -->
                    <th>Product Detail</th>
                    <th>Sender</th>
                    <th>Reciever</th>
                    <th>Message</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th scope="col" colspan="2">
                        <center>Action</center>
                    </th>
                </tr>
            </thead>

            <tbody ng-repeat="(i,messages) in all track by $index">
                <tr>
                    <td></td>

                </tr>
                <tr ng-repeat="message in messages.reduction">
                    <td ng-if='message.type=="Ask" || message.type=="Share" || message.type=="Order"'>{{message.product}}</td>
                    <td ng-if='message.type=="Reply"'> </td>
                    <td ng-if='sessionID==message.senderID'> ME </td>
                    <td ng-if='sessionID!=message.senderID'>{{message.senderID}}</td>
                    <td ng-if='sessionID!=message.receiverID'>{{message.receiverID}} </td>
                    <td ng-if='sessionID==message.receiverID'> ME </td>


                    <td ng-if='message.type=="Share"'><a href='{{message.message}}'>View Product</a>
                    </td>
                    <td ng-if='message.type!="Share"'>{{message.message}}</td>


                    <td>{{message.type}}</td>
                    <td>{{message.status}}</td>

                    <td ng-if='message.type=="Ask" && message.status=="Unresolved" && message.senderID==sessionID'>
                        <input type='text' ng-model='m.M[i]'>
                        <button ng-click='reply(message.receiverID,message.pid,message.id,i,0)'>ASK</button>
                    </td>

                    <td ng-if='message.type=="Ask" && message.status=="Unresolved" && message.senderID!=sessionID'>
                        <input type='text' ng-model='m.M[i]'>
                        <button ng-click='reply(message.senderID,message.pid,message.id,i,25)'>Reply</button>
                    </td>

                    <td ng-if='message.type=="Ask" && sessionID==message.senderID && message.status=="Unresolved"'>
                        <button ng-click='resolve(message.pid)'>Mark Resolved</button>
                        <td ng-if='message.type=="Ask" && sessionID==message.senderID && message.status=="Resolved"'>
                            <button ng-click='unresolve(message.pid)'>Mark Unresolved</button>
                            <td ng-if='message.type=="Share" && sessionID!=message.senderID && message.status=="Unresolved"'>
                                <button ng-click='resolve(message.pid)'>Mark Viewed</button>

                </tr>
                <!--
                <td>{{message.pid}} </td>
                
                
                <td>{{message.type}} </td>
                <td>{{message.status}} </td>
                
                -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--   -->