<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="index">Interactive eCommerce</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ng-if='ifSession=="true"' ui-sref="home.addtocart">Dashboard</a>
        </li>
        <li><a ui-sref="search">Search</a>
        </li>
        <li><a ng-if='ifSession=="false"' ui-sref="signin">Sign In</a>
        </li>
        <li><a ng-if='ifSession=="false"' ui-sref="signup"> Sign Up</a>
        </li>
        <li><a ng-if='ifSession=="true"' ng-click="signOut()">Sign Out</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: 15px;" ng-if='ifSession=="true"'><a>Welcome, {{sessionID}}!</a>
        </li>
    </ul>

</nav>