<br>
<br>
<br>
<br>
<h1 ng-if='ifSession=="true" && points!=-1'> Total Points: {{points}} </h1>
<h1 ng-if='ifSession=="true" && points!=-1'> Your Badge: {{badge}} </h1>
<h1 ng-if='ifSession=="true" && points==-1'> Problem in retrieving Points </h1>
<br>
<br>
<br>
<br>
<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" ui-sref="home.addtocart">Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" ui-sref="home.wishlist">WishList</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" ui-sref="home.shortlist">ShortList</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" ui-sref="home.messages">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" ui-sref="home.answers">Points</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" ui-sref="home.bought">Recently Bought</a>
    </li>
</ul>

<div ui-view name="tab"></div>