<div class="jumbotron text-center" style="background-color:#008080;">
    <h1> PRODUCT {{product.model}} </h1>
</div>

<h2><a ui-sref="index" ng-if='ifSession=="true" && buying=="true"'> Already bought! ANSWER QUESTIONS FOR EARNING POINTS! </a> </h2>
<br>
<br>
<br>

<a ng-if="disable.prev==0" ui-sref="product({id : {{currentProduct.prev}}})"> Prev </a>
<a ng-if="disable.next==0" style="float:right;" ui-sref="product({id : {{currentProduct.next}}})"> Next </a>
<div style="float:right;" ng-if='ifSession=="true"'>
    <div ng-if="experts==1">
        <h1>CONTACT AN EXPERT?</h1>
        <h4>Select Username: </h4>
        <select ng-model="m.messProp" ng-options="user.id for user in listofexperts | unique:'id'" ng-change="GetValue()">
            <option value="user.id">Default</option>
        </select>
        <input type='text' ng-model='m.M'>
        <button ng-click='Ask()'>Ask</button>
    </div>

    <h1 ng-if="experts==0">Unable to Contact Experts!</h1>
    <br>
    <br>
    <h1 ng-if="experts==2">No Available Experts</h1>
    <br>
    <br>
    <br>

    <div ng-if="listers==1">
        <h1>SHARE DETAILS WITH USERS?</h1>
        <h4>Select Username: </h4>
        <select ng-model="m.messProp1" ng-options="user.id for user in listofusers | unique:'id'" ng-change="GetValues()">
            <option value="user.id">Default</option>
        </select>
        <button ng-click='Share()'>Share</button>
    </div>

    <h1 ng-if="listers==0">Unable to Contact Experts!</h1>
    <h1 ng-if="listers==2">No Available Experts</h1>
</div>

<br>
<br>

<img src='assets/images/{{product.image}}' alt='{{product.model}}'>
<h1>{{product.color}}<h1>
<h1>{{product.series}}<h1>
<h1>{{product.category}}<h1>
<h1>{{product.price}}<h1>
   
<br><br>
<button ng-if='ifSession=="true"' ng-click="option('buy',product.id)">BUY PRODUCT</button>
<button ng-if='ifSession=="true"' ng-click="option('shortlist',product.id)">SHORTLIST</button>
<button ng-if='ifSession=="true"' ng-click="option('wishlist',product.id)">WISHLIST</button>
<button ng-if='ifSession=="true"' ng-click="option('add',product.id)">ADD TO CART</button>
<a ui-sref="signin" ng-if='ifSession=="false"'> SIGN IN TO BUY THE PRODUCT! </a>