<br>
<br>
<div ng-if="qD.X=='true'">
    <h3> Question of the Day ( Product - {{qD.s.name}} ) : {{qD.s.question}} </h3>
    <input type='text' ng-model='qD.q'>
    <button ng-click='answerD()'>Answer</button>
    <br>
    <br>
    <br>
</div>
<div ng-if="qW.X=='true'">
    <h3> Question of the Week (Product: - {{qW.s.name}}) : {{qW.s.question}} </h3>
    <input type='text' ng-model='qW.q'>
    <button ng-click='answerW()'>Answer</button>
</div>

<div ng-if="qD.X=='false'">
    <h1>{{qD.mX}}</h1>
</div>
<div ng-if="qW.X=='false'">
    <h1>{{qW.mX }}</h1>
</div>

<div class="row">
    <div ng-repeat="products in categor">
        <h3>{{products.category}} </h3>
        <div ng-repeat="product in products.pdt">
            <div class="clearfix" ng-if="$index % 10 == 0"></div>
            <div class="col-lg-3">
                <ul class="demo-2 effect">
                    <h2 class="zero">{{product.model}}</h2>
                    <h3 class="zero">{{product.price}}</h3>
                    <p class="zero">{{product.category}}</p>
                    <a ui-sref="product({id : {{product.id}}})">
                        <li>
                            <img class="top" src='assets/images/{{product.image}}' alt={{product.model}}>
                        </li>
                    </a>
                </ul>
                <button ng-if='ifSession=="true"' ng-click='buy(product.id)'>Buy</button>
            </div>
        </div>
        <a ui-sref="search({type: 'category', name: '{{products.category}}'})"> View More! </a>
    </div>
</div>