<div ng-if="setOf.toShow=='true'">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Points</th>
                </tr>
            </thead>

            <tbody ng-repeat="m in setOf.answers">
                <tr>
                    <td>{{m.p}} </td>
                    <td>{{m.c}} </td>
                    <td>{{m.q}} </td>
                    <td>{{m.a}} </td>
                    <td>{{m.pp}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-if="setOf.toShow=='false'">
    <h1> Sign in to view your answers! </h1>
</div>
<div ng-if="setOf.toShow=='inbet'">
    <h1> You have not answered any questions so far! </h1>
</div>